<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Добавить новую услугу</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'service_list' %}">Молочные услуги</a><br><br><hr>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'new_service' %}">Добавить услугу</a>
        <a class="nav-item nav-link" href="{% url 'service_list' %}">Список услуг</a>
        <a class="nav-item nav-link" href="{% url 'orders' %}">Список заказов</a>
    </div>
</nav>
<div class="container mt-4">
    <h2>Добавить новую услугу</h2>
    <form action="{% url 'new_service' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="serviceName">Название услуги</label>
            <input type="text" class="form-control" id="serviceName" name="name" required>
        </div>
        <div class="form-group">
            <label for="servicePrice">Цена услуги</label>
            <input type="number" class="form-control" id="servicePrice" name="price" required>
        </div>
        <div class="form-group">
            <label for="serviceImage">Изображение услуги</label>
            <input type="file" class="form-control-file" id="serviceImage" name="image" required>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>
</body>
</html>
