<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Детали услуги</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'service_list' %}">Молочные услуги</a><br><br><hr>
    <div class="navbar-nav">
{#        <a class="nav-item nav-link" href="{% url 'new_service' %}">Добавить услугу</a>#}
        <a class="nav-item nav-link" href="{% url 'service_list' %}">Список услуг</a>
{#        <a class="nav-item nav-link" href="{% url 'orders' %}">Список заказов</a>#}
    </div>
</nav>

<div class="container mt-4">
    <div class="card" style="width: 18rem;">
<img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ service.name }}</h5>
            <p class="card-text">Цена: {{ service.price }} руб.</p>
{#            <form action="{% url 'create_order' %}" method="post">#}
{#                {% csrf_token %}#}
{#                <input type="hidden" name="service_id" value="{{ service.id }}">#}
{#                <div class="form-group">#}
{#                    <input type="text" class="form-control" name="parent_name" placeholder="Ваше имя">#}
{#                </div>#}
{#                <button type="submit" class="btn btn-primary">Заказать</button>#}
{#            </form>#}
        </div>
    </div>
</div>

</body>
</html>
