{% extends 'home_page.html' %}

{% load static %}

{% block title %}
   Рассчёт
{% endblock %}


{% block content %}

        <div class="content-wrapper">

            <div class="cards-wrapper">

                <div class="top">

                    <h2>Заказ №{{ order.id }}</h2>

                    <a href="/">
                        Назад
                    </a>

                </div>

                <div class="bottom-container">

                    <div class="order-info-wrapper">

                        <span>Дата создания {{ order.date_created }}</span>

                    </div>

                    <h2>Продукты</h2>

                    <div class="products-container">

                        {% for product in products %}

                            <div class="card-wrapper">

                                <div class="preview">
                                    <img src="http://127.0.0.1:9000/images/{{ product.image }}">
                                </div>

                                <div class="card-content">

                                    <div class="content-top">

                                        <h3 class="title">{{ product.name }}</h3>

                                    </div>

                                </div>

                            </div>

                        {% endfor %}

                    </div>
                </div>

            </div>

        </div>


{% endblock %}